html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.top-logo {
  max-width: 100%;
  padding: 20px;
}

.top-detail {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}

.teacher {
  color: #666666;
  display: inline;
  line-height: 24px;
}

.time {
  color: #666666;
  display: inline;
  line-height: 24px;
}

.content {
  color: #666666;
  display: inline;
  line-height: 24px;
}

.text {
  padding: 30px 0;
  color: #666666;
  display: inline;
  line-height: 24px;
}

.discount-content {
  display: inline;
  letter-spacing: 1px;
  line-height: 24px;
  color: #ff3636;
  font-weight: 500;
}

.design-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 50px 40px;
}

.info-title .name {
  display: inline;
  line-height: 24px;
  font-size: 20px;
}

.info-title {
  font-size: 26px;
  text-align: center;
  color: #666666;
}

.info-content {
  max-width: 50%;
  display: inline;
  line-height: 24px;
  text-align: center;
  color: #555555;
  padding: 40px 0 0 0;
}

.info-text {
  max-width: 50%;
  display: inline;
  line-height: 24px;
  text-align: center;
  color: #555555;
  padding: 20px 0;
}

.design-img {
  max-width: 100%;
  padding: 0 20px;
}

.design-container {
  display: flex;
  flex-direction: column;
}

.banner {
  max-width: 100%;
  padding: 50px 20px 20px 20px;
}

.course {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.course-img {
  max-width: 100%;
  /* padding: 0 20px; */
}

.course-title {
  color: #333333;
  font-size: 18px;
  line-height: 32px;
  padding: 10px 0;
}

.purchase-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.price {
  color: #c0392b;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}

.button {
  border: none;
  background-color: #5cb85c;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  padding: 0 30px;
  text-align: center;
}

.address-container {
  display: flex;
  flex-direction: column;
}

.address-info-container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.locate {
  display: inline;
  color: #555555;
  line-height: 24px;
  font-size: 16px;
}

strong {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.traffic-title {
  display: inline;
  color: #555555;
  line-height: 24px;
  font-size: 16px;
}

.bus-brown {
  display: inline;
  color: #555555;
  line-height: 24px;
  font-size: 16px;
}

.bus-blue {
  display: inline;
  color: #555555;
  line-height: 24px;
  font-size: 16px;
}

.mrt {
  display: inline;
  color: #555555;
  line-height: 24px;
  font-size: 16px;
}

.notice {
  display: inline;
  color: #555555;
  font-size: 14px;
  line-height: 21px;
  padding-top: 30px;
}

.notice-content {
  display: inline;
  color: #555555;
  font-size: 14px;
  line-height: 21px;
}

.line {
  padding: 20px 0;
  display: inline;
  font-size: 16px;
  line-height: 24px;
}
.line a {
  text-decoration: none;
  color: white;
  background-color: #07b53b;
  padding: 2px 5px;
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
  padding: 20px 40px;
}

.googlemap {
  max-width: 100%;
  padding: 20px 30px;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.delivery-title {
  background-color: #f6f6f6;
  padding: 10px 20px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  line-height: 21px;
}

.delivery-option-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.delivery-option-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #333333;
}

#delivery-country {
  color: #555555;
  font-size: 14px;
  padding: 6px 12px;
  align-items: center;
  box-shadow: #000000 0 1px 1px;
}

.contact {
  padding: 20px 40px;
  color: #737373;
  font-size: 14px;
  line-height: 21px;
}

.pay-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.pay-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  display: inline;
  color: #333333;
}

.pay-content {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  /* margin-left: 16px; */
}
.subtotal-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}

.subtotal-title {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 0;
  color: #333333;
}

.subtotal-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.delivery-pay-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0;
}

.delivery-pay-title {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 0;
  color: #333333;
}

.delivery-pay-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.discount-code {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #337ab7;
}

.total-container {
  border-bottom: 1px solid #dddddd;
}

.total-pay-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}

.total-pay-title {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 0;
  color: #333333;
  font-weight: 600;
}

.total-pay-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media screen and (min-width: 992px) {
  .design-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
  }
  .design-info-container {
    display: flex;
    justify-content: flex-start;
  }
  .info-content {
    max-width: 70%;
  }
  .info-text {
    max-width: 70%;
  }
  .address-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .address-info-container {
    margin-left: 20px;
  }
  .googlemap {
    width: 450px;
    aspect-ratio: 4/3;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gallery img {
    max-width: 100%;
  }
  .pay-content {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    margin-left: 16px;
  }
}
